Repository mjwestcott/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, dotfiles-test

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  args:
  - --severity=warning

dotfiles-test:
  name: Test dotfiles configuration
  entry: ./tests/shell.sh
  language: script
  pass_filenames: false
  description: Verify shell configs source cleanly

pre-commit: add stylua
  .pre-commit-config.yaml
Due: none

claude: add formatting hook
  claude/hooks/format-and-lint.sh
  claude/settings.json
  install
  vim/init.lua
Due: shellcheck

claude: switch to only auto-formatting
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  claude/hooks/format.sh
  claude/settings.json
Due: shellcheck

shell: add `make test`
  CLAUDE.md
  Makefile
  README.md
Due: none

shell: fixes based on linting
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  antidote/zsh_plugins.txt
  bat/config
  claude/statusline.sh
  ranger/scope.sh
  shell/profile
  shell/zsh/zprofile
  shell/zsh/zshenv
  shell/zsh/zshrc
  tests/shell.sh
Due: shellcheck, dotfiles-test

claude: adopt ccusage
  Brewfile
  claude/settings.json
  claude/statusline.sh
  install
Due: shellcheck

claude: custom statusline for usage
  bin/cc-statusline
  claude/settings.json
Due: none

bin: remove unused
  bin/flatjson
  bin/git-recent
  bin/rb
Due: none

claude: update statusline and model=opusplan
  bin/cc-statusline
  claude/settings.json
Due: none

bin: update wifi-password script
  bin/wifi-password
Due: none

shell: clean up unused aliases
  shell/profile
Due: shellcheck, dotfiles-test

install: remove gcp
  Brewfile
  Makefile
Due: none

shell: better tracking optouts
  shell/analytics
Due: dotfiles-test

alacritty: add save_to_clipboard on selection
  alacritty/alacritty.toml
Due: none

shell: remove find=fd alias
  shell/profile
Due: shellcheck, dotfiles-test

claude: add default thinking budget
  claude/settings.json
Due: none

install: add broot
  Brewfile
  broot/conf.hjson
  broot/verbs.hjson
  install
  shell/profile
  shell/zsh/zshrc
Due: shellcheck, dotfiles-test

install: fix zoxide
  shell/zsh/zshrc
Due: dotfiles-test

alacritty: fix alt+return for broot
  alacritty/alacritty.toml
Due: none

install: fix zoxide
  antidote/zsh_plugins.txt
Due: dotfiles-test

broot: include defualt skin
  broot/skins/dark-blue.hjson
  install
Due: shellcheck

shell: add fzf-tab
  antidote/zsh_plugins.txt
Due: dotfiles-test

install: add npm global packages
  install
Due: shellcheck

shell: fix zsh-history-substring-search
  shell/profile
  shell/zsh/zshrc
Due: shellcheck, dotfiles-test

tmux: session switch bindings
  tmux/tmux.conf
Due: none

shell: update claude aliases
  shell/profile
Due: shellcheck, dotfiles-test

install: update docker-desktop
  Brewfile
Due: none

install: don't duplicate cluade installation
  install
Due: shellcheck

claude: use code-simplifier
  claude/settings.json
Due: none

install: add make targets
  Makefile
  README.md
Due: none

tmux: add session bindings
  tmux/tmux.conf
Due: none

install: brew bundle --verbose
  install
Due: shellcheck

shell: add take function
  shell/profile
Due: shellcheck, dotfiles-test

install: switch make to just
  Brewfile
  CLAUDE.md
  Makefile
  README.md
  justfile
Due: none

claude: switch to recommended install
  install
  shell/zsh/zshrc
Due: shellcheck, dotfiles-test

vim: fix open into quickfix
  shell/profile
Due: shellcheck, dotfiles-test

claude: add afplay notifications
  claude/settings.json
Due: none

claude: switch tink -> bottle
  claude/settings.json
Due: none

claude: prefer local install
  shell/profile
Due: shellcheck, dotfiles-test

install: support flake8 as fallback
  Brewfile
  vim/lua/custom/lint.lua
Due: none

Path conditions:
  shellcheck: any of: \.(sh|bash|zsh)$|^(shell/profile|bin/|install)$
  dotfiles-test: any of: ^(shell/|antidote/).*$
