Repository mjwestcott/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, stylua, dotfiles-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: \.(sh|bash|zsh)$|^(shell/profile|bin/|install)$
        exclude: antidote/.*\.zsh$
        args: [-x, -e, "SC1090,SC1091", --severity=warning]

      - id: stylua
        name: StyLua formatter
        entry: stylua
        language: system
        files: \.lua$

      - id: dotfiles-test
        name: Test dotfiles configuration
        entry: ./tests/shell.sh
        language: script
        pass_filenames: false
        files: ^(shell/|antidote/).*$
        description: Verify shell configs source cleanly

claude: turn on teams
  claude/settings.json
Due: none

claude: relax restrictions for file access
  claude/settings.json
Due: none

install: trial ghostty
  Brewfile
  ghostty/config
  install
Due: shellcheck

claude: skip permissions
  claude/settings.json
  shell/profile
Due: shellcheck, dotfiles-test

claude: no syntax highlighting
  claude/settings.json
Due: none

claude: improve review skill
  claude/skills/review/SKILL.md
Due: none

claude: update model versions
  claude/agents/ousterhout-code-review.md
  claude/agents/simplify.md
  codex/config.toml
Due: none

claude: use sonnet for validation
  claude/skills/review/SKILL.md
Due: none

claude: review tweaks
  claude/skills/review/SKILL.md
Due: none

claude: new pr-and-merge skill
  claude/skills/pr-and-merge/SKILL.md
Due: none

claude: timeout for codex delegation
  claude/skills/review/SKILL.md
Due: none

codex: collab -> multi_agent
  codex/config.toml
Due: none

claude: adopt safehouse script
  bin/safehouse
  shell/profile
Due: shellcheck, dotfiles-test

claude: enable ssh
  shell/profile
Due: shellcheck, dotfiles-test

alacritty: uninstall
  Brewfile
  alacritty/alacritty.toml
  install
Due: shellcheck

claude: improve `rm` error message feedback
  claude/hooks/pre-bash.sh
Due: shellcheck

shell: show untracked new files in diffs
  shell/profile
Due: shellcheck, dotfiles-test

claude: new default
  claude/settings.json
Due: none

shell: update git aliases
  shell/profile
Due: shellcheck, dotfiles-test

claude: opus[1m]
  claude/settings.json
Due: none

claude: fix sandbox access
  shell/profile
Due: shellcheck, dotfiles-test

claude: add clipboard
  shell/profile
Due: shellcheck, dotfiles-test

claude: update safehouse
  bin/safehouse
Due: none

claude: adopt codex plugin
  claude/settings.json
  claude/skills/review/SKILL.md
Due: none

claude: remove review agents
  CLAUDE.md
  claude/agents/ousterhout-code-review.md
  claude/agents/ousterhout-codebase-review.md
  claude/agents/simplify.md
  claude/skills/audit/SKILL.md
  claude/skills/ousterhout/SKILL.md
  claude/skills/review/SKILL.md
  claude/skills/simplify/SKILL.md
Due: none

claude: no flicker
  claude/settings.json
Due: none

claude: adopt rc
  shell/profile
Due: shellcheck, dotfiles-test

claude: update statusline
  bin/cc-statusline
  claude/settings.json
Due: none

claude: simpler statusline
  bin/cc-statusline
  shell/profile
Due: shellcheck, dotfiles-test

claude: use auto mode
  claude/settings.json
  shell/profile
Due: shellcheck, dotfiles-test

claude: fable[1m] by default
  claude/settings.json
Due: none

claude: vim mode, remote control, push notifs
  claude/settings.json
Due: none

claude: wait for CI and reviews before merging
  claude/skills/pr-and-merge/SKILL.md
  claude/skills/pr-and-merge/wait-for-pr.sh
Due: shellcheck

shell: claude model aliases
  shell/profile
Due: shellcheck, dotfiles-test

style: format scripts and markdown
  claude/hooks/pre-bash.sh
  claude/skills/pr-and-merge/SKILL.md
  claude/skills/pr-and-merge/wait-for-pr.sh
  claude/skills/scaffold/SKILL.md
  claude/skills/scaffold/assets/fullstack/CLAUDE.md
  claude/skills/scaffold/assets/fullstack/README.md
  claude/skills/scaffold/assets/rust-cli/CLAUDE.md
  claude/skills/tests/SKILL.md
  tests/claude-hooks.sh
  tests/shell.sh
Due: shellcheck

brew: add shfmt and prettier
  Brewfile
Due: none

claude: skip shfmt for profile and rc files
  claude/hooks/post-edit.sh
Due: shellcheck

claude: update safehouse to 0.11.1
  .pre-commit-config.yaml
  bin/safehouse
Due: none

claude: stop recreating dangling agents symlink
  install
Due: shellcheck

shell: drop poetry in favour of uv
  install
  shell/profile
Due: shellcheck, dotfiles-test
