Repository mjwestcott/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, stylua, dotfiles-test

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  args:
  - -x
  - -e
  - SC1090,SC1091
  - --severity=warning

stylua:
  name: StyLua formatter
  entry: stylua
  language: system

dotfiles-test:
  name: Test dotfiles configuration
  entry: ./tests/shell.sh
  language: script
  pass_filenames: false
  description: Verify shell configs source cleanly

claude: align hook tests with force-push policy
  tests/claude-hooks.sh
Due: shellcheck

ranger: open terminals with ghostty
  ranger/rifle.conf
Due: none

docs: record ghostty and uv as the current tools
  CLAUDE.md
  README.md
Due: none

shell: quote model names in claude aliases
  shell/profile
Due: shellcheck, dotfiles-test

shell: drop stale default-model comment
  shell/profile
Due: shellcheck, dotfiles-test

claude: drop inert Write(.env) deny rule
  claude/settings.json
Due: none

claude: default to opus[1m]
  claude/settings.json
Due: none

shell: default gcom fallback to main
  shell/profile
Due: shellcheck, dotfiles-test

codex: track prefs in a profile file, allow ChatGPT.app in sandbox
  codex/config.toml
  codex/dotfiles.config.toml
  install
  shell/profile
Due: shellcheck, dotfiles-test

claude: move deny rules to managed settings, guard against state leaks
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  claude/managed-settings.json
  claude/settings.json
  install
  tests/no-machine-state.sh
Due: shellcheck

install: enable pre-commit hooks automatically
  CLAUDE.md
  install
Due: shellcheck

git: sign commits with SSH instead of OpenPGP
  Brewfile
  CLAUDE.md
  git/allowed_signers
  git/gitconfig
  shell/profile
  shell/zsh/zprofile
  shell/zsh/zshrc
  tests/claude-hooks.sh
Due: shellcheck, dotfiles-test

shell: delete dead init and drop pyenv
  claude/skills/scaffold/assets/fullstack/frontend/package.json
  shell/profile
  shell/zsh/zshrc
Due: shellcheck, dotfiles-test

claude: make post-edit lint feedback actually reach the model
  claude/hooks/post-edit.sh
  claude/settings.json
  tests/claude-hooks.sh
Due: shellcheck

tmux: enable the options that later 3.x releases made worth having
  tmux/tmux.conf
Due: none

claude: make the post-edit hook find .stylua.toml
  claude/hooks/post-edit.sh
  tests/claude-hooks.sh
Due: shellcheck

vim: unbreak the config against current plugin majors
  install
  vim/init.lua
  vim/lazy-lock.json
  vim/lua/custom/ai.lua
  vim/lua/custom/gpt.lua
  vim/lua/custom/lint.lua
  vim/lua/custom/lsp.lua
  vim/lua/custom/telescope.lua
Due: shellcheck, stylua

git: modernise diff, merge and fetch defaults
  git/gitconfig
  shell/profile
Due: shellcheck, dotfiles-test

brew: drop packages the Brewfile captured rather than chose
  Brewfile
  CLAUDE.md
  vim/lua/custom/lint.lua
Due: stylua

tmux: use the native OSC 52 clipboard path
  tmux/tmux.conf
Due: none

ghostty: restore close confirmation
  ghostty/config
Due: none

git: stop forcing tag pruning
  git/gitconfig
Due: none

vim: update Conform's LSP fallback option
  vim/lua/custom/lint.lua
Due: stylua

install: make Homebrew bootstrap reproducible
  Brewfile
  install
Due: shellcheck

shell: guard optional startup integrations
  shell/profile
  shell/zsh/zshrc
Due: shellcheck, dotfiles-test

lint: align checks with declared tools
  CLAUDE.md
  biome.json
  claude/hooks/pre-bash.sh
  justfile
  tests/claude-hooks.sh
Due: shellcheck

vim: sync lazy-lock with installed plugin versions
  vim/lazy-lock.json
Due: none

claude: restore skillOverrides and autoUpdatesChannel
  claude/settings.json
Due: none

git: move the SSH signing key out of the shared config
  CLAUDE.md
  git/allowed_signers
  git/gitconfig
  install
Due: shellcheck

claude: keep only the pr skills
  claude/settings.json
  claude/skills/coverage/SKILL.md
  claude/skills/start/SKILL.md
  claude/skills/tests/SKILL.md
  claude/skills/validate/SKILL.md
Due: none

Path conditions:
  shellcheck: any of: \.(sh|bash|zsh)$|^(shell/profile|bin/|install)$, but not: antidote/.*\.zsh$
  stylua: any of: \.lua$
  dotfiles-test: any of: ^(shell/|antidote/).*$
