Repository mjwestcott/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, stylua, dotfiles-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: \.(sh|bash|zsh)$|^(shell/profile|bin/|install)$
        exclude: antidote/.*\.zsh$
        args: [-x, -e, "SC1090,SC1091", --severity=warning]

      - id: stylua
        name: StyLua formatter
        entry: stylua
        language: system
        files: \.lua$

      - id: dotfiles-test
        name: Test dotfiles configuration
        entry: ./tests/shell.sh
        language: script
        pass_filenames: false
        files: ^(shell/|antidote/).*$
        description: Verify shell configs source cleanly

style: use the code-simplifier
  git/gitconfig
  shell/profile
  vim/lua/custom/statusline.lua
  vim/lua/custom/telescope.lua
  vim/lua/custom/ui.lua
Due: shellcheck, stylua, dotfiles-test

claude: fix statusline
  bin/cc-statusline
Due: none

claude: better thinking limit
  claude/settings.json
Due: none

claude: better notification volume
  claude/settings.json
Due: none

claude: more statusline elements
  bin/cc-statusline
Due: none

claude: trusted local repos
  claude/settings.json
Due: none

claude: add git worktree helpers
  shell/profile
Due: shellcheck, dotfiles-test

claude: remove inaccurate token counts
  bin/cc-statusline
Due: none

claude: add commit commands plugin
  claude/settings.json
Due: none

claude: remove trustedDirectories
  claude/settings.json
Due: none

claude: notifications for other platforms
  claude/settings.json
Due: none

claude: check for format.sh script
  claude/settings.json
Due: none

claude: add custom code review agents
  CLAUDE.md
  claude/agents/ousterhout-code-review.md
  claude/agents/ousterhout-codebase-review.md
  claude/skills/ousterhout-principles/SKILL.md
  install
Due: shellcheck

claude: rename ousterhout-principles skill to ousterhout
  claude/agents/ousterhout-code-review.md
  claude/agents/ousterhout-codebase-review.md
  claude/skills/ousterhout/SKILL.md
Due: none

claude: add local simplify agent
  claude/agents/simplify.md
Due: none

claude: add user-invocable skills
  claude/skills/audit/SKILL.md
  claude/skills/coverage/SKILL.md
  claude/skills/pre-commit/SKILL.md
  claude/skills/review/SKILL.md
  claude/skills/simplify/SKILL.md
  claude/skills/tests/SKILL.md
Due: none

claude: disable code-simplifier plugin
  claude/settings.json
Due: none

claude: remove redundant thinking token budget
  claude/settings.json
Due: none

claude: add ralph loop
  claude/settings.json
Due: none

claude: better formatter
  claude/hooks/format.sh
Due: shellcheck

install: add biome
  Brewfile
Due: none

claude: add rust CLI scaffold
  claude/skills/scaffold/SKILL.md
  claude/skills/scaffold/assets/rust-cli-boilerplate/.env.example
  claude/skills/scaffold/assets/rust-cli-boilerplate/.github/workflows/ci.yml
  claude/skills/scaffold/assets/rust-cli-boilerplate/.gitignore
  claude/skills/scaffold/assets/rust-cli-boilerplate/.pre-commit-config.yaml
  claude/skills/scaffold/assets/rust-cli-boilerplate/CLAUDE.md
  claude/skills/scaffold/assets/rust-cli-boilerplate/Cargo.toml
  claude/skills/scaffold/assets/rust-cli-boilerplate/README.md
  claude/skills/scaffold/assets/rust-cli-boilerplate/clippy.toml
  claude/skills/scaffold/assets/rust-cli-boilerplate/justfile
  claude/skills/scaffold/assets/rust-cli-boilerplate/rustfmt.toml
  claude/skills/scaffold/assets/rust-cli-boilerplate/src/cli.rs
  claude/skills/scaffold/assets/rust-cli-boilerplate/src/commands/example.rs
  claude/skills/scaffold/assets/rust-cli-boilerplate/src/commands/mod.rs
  claude/skills/scaffold/assets/rust-cli-boilerplate/src/config.rs
  claude/skills/scaffold/assets/rust-cli-boilerplate/src/error.rs
  claude/skills/scaffold/assets/rust-cli-boilerplate/src/lib.rs
  claude/skills/scaffold/assets/rust-cli-boilerplate/src/main.rs
  claude/skills/scaffold/assets/rust-cli-boilerplate/tests/cli_tests.rs
Due: none

claude: update hooks
  CLAUDE.md
  claude/hooks/post-edit.sh
  claude/hooks/pre-bash.sh
  claude/hooks/session-start.sh
  claude/settings.json
Due: shellcheck

claude: fix git push restriction
  claude/hooks/pre-bash.sh
Due: shellcheck

claude: allow .env.example
  claude/settings.json
Due: none

claude: extend biome formatting
  claude/hooks/post-edit.sh
Due: shellcheck

claude: add hook tests
  claude/hooks/post-edit.sh
  justfile
  tests/claude-hooks.sh
Due: shellcheck

claude: move to a single review workflow
  claude/skills/pre-commit/SKILL.md
  claude/skills/review/SKILL.md
Due: none

claude: add biome config for 2-space indentation
  biome.json
Due: none

claude: remove notification hook matcher
  claude/settings.json
Due: none

claude: improve session-start hook display
  claude/hooks/session-start.sh
Due: shellcheck

vim: support biome
  vim/lua/custom/lint.lua
Due: stylua

claude: better session-start script
  claude/hooks/session-start.sh
Due: shellcheck

codex: add managed config with CLAUDE.md fallback
  codex/config.toml
  install
Due: shellcheck

claude: add self mode and manual test agent to review skill
  claude/skills/review/SKILL.md
Due: none

claude: allow force push
  claude/hooks/pre-bash.sh
Due: shellcheck

claude: new slash commands
  claude/skills/pr/SKILL.md
  claude/skills/start/SKILL.md
  claude/skills/validate/SKILL.md
Due: none
